[ req ]
default_bits = 2048
default_keyfile = ecc.server.key.pem
distinguished_name = req_distinguished_name
string_mask = nombstr
req_extensions = v3_req

[ req_distinguished_name ]
commonName = Common Name (eg, Jean DUPONT)
commonName_max = 64
commonName_default = localhost
emailAddress = Email Address (eg, prenom.nom@etu.unilim.fr)
emailAddress_max = 40

[ v3_req ]
nsCertType = client, email
basicConstraints = critical,CA:false